.weather-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.weather-list-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-list-container .weather-day-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1em;
  margin-bottom: 2em;
  margin-top: 0;
  padding: 0.8em;
  -webkit-box-shadow: 0px 2px 4px #333;
          box-shadow: 0px 2px 4px #333;
  color: #4b054b;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.weather-list-container .weather-day-container h1 {
  margin-bottom: 0.5em;
}

.weather-list-container .weather-day-container .weather-day-arrow {
  font-size: 3rem;
  margin-right: 0.2em;
  pointer-events: none;
  -webkit-transform: translateX(5em);
          transform: translateX(5em);
  color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.weather-list-container .weather-day-container:hover {
  background: #4b054b;
  color: whitesmoke;
}

.weather-list-container .weather-day-container:hover .weather-day-arrow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: inherit;
}

.weather-widget-container {
  width: 35%;
  height: 50vh;
  -webkit-box-shadow: 0px 2px 4px #333;
          box-shadow: 0px 2px 4px #333;
}

.weather-widget-container .widget-day-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-widget-container .widget-noday-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weather-widget-container .widget-noday-container .widget-sun {
  display: block;
  width: 35%;
}
/*# sourceMappingURL=weather_section.css.map */