@import "../../variables/variables";

.weather-container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  // background: #333;
}

// ==================================================
// Weather list styles
.weather-list-container {
  width: 65%;
  // background: red;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .weather-day-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 1em;
    margin-bottom: 2em;
    margin-top: 0;

    padding: 0.8em;

    box-shadow: 0px 2px 4px #333;
    color: $dark_text;

    transition: all 0.4s ease;
    cursor: pointer;

    h1 {
      margin-bottom: 0.5em;
    }

    .weather-day-arrow {
      font-size: 3rem;
      margin-right: 0.2em;
      pointer-events: none;

      transform: translateX(5em);
      color: transparent;
      transition: all 0.3s ease;
    }

    &:hover {
      background: $dark_bg;
      color: $light_text;

      .weather-day-arrow {
        transform: translateX(0);
        color: inherit;
      }
    }
  }
}

// ==================================================
// Weather widget styles
.weather-widget-container {
  width: 35%;
  height: 60vh;
  color: $dark_text;

  box-shadow: 0px 2px 4px #333;

  .widget-day-container {
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .widget-day-title,
    .widget-day-temperature,
    .widget-day-wind {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        display: block;
      }
    }

    .widget-day-wind div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .widget-day-title img {
      width: 80px;
    }
    .widget-day-temperature img {
      width: 70px;
    }
    .widget-day-wind img {
      // background: #000;
      width: 60px;
      // transform: rotate(90deg);
    }
  }

  .widget-separator {
    width: 80%;
    height: 2px;
    background: $dark_bg;
  }

  .widget-noday-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .widget-sun {
      display: block;
      width: 35%;
    }
  }
}
